body {
    background-color: #070707;
    color: white;
    font-family: 'roboto', sans-serif;
}

h2 {
    color: white;
}

.neotext{
    color: #E95D0E;
}


/* Botones*/
.custom-btn {
    background-color: #E95D0E;
    border-color: #E95D0E;
}

.custom-btn:hover {
    background-color: #D94F0A;
    border-color: #D94F0A;
}