body {
    background-color: #070707;
    color: white;
    font-family: 'Roboto mono', sans-serif;
}

h2 {
    color: white;
    font-weight: bold;
    letter-spacing: -2.5px;
}

h3 {
    color: white;
    font-weight: bold;
    letter-spacing: -1px;
}

.neotext{
    color: #E95D0E;
    font-weight: bold;
}

/* Color de fondo del navbar */
.navbar.navbar-dark.bg-dark {
    background-color: #070707 !important;
    margin-top: 20px;
}

/* Color del texto en los enlaces del navbar */
.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

/* Imagen de Fondo inicio */
#seccion1 {
    position: relative;
    overflow: hidden;
    color: white; 
}

#seccion1::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/fondo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1; 
}

.jumbotron {
    position: relative; 
    z-index: 1; 
}

/* Botones*/
.custom-btn {
    background-color: #E95D0E;
    border-color: #E95D0E;
    font-weight: bolder
}

.custom-btn:hover {
    background-color: #D94F0A;
    border-color: #D94F0A;
}